.management-container {
  padding: 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.management-title {
  font-size: 1.8rem;
  color: #1e293b;
  margin-bottom: 40px;
  font-weight: 600;
}


.table-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.search-wrapper {
  position: relative;
  width: 70%;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #94a3b8;
}

.table-search-input {
  width: 100%;
  padding: 10px 10px 10px 45px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  font-size: 1rem;
}

.add-new-btn {
  background-color: #0078E5;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 500;
}


.management-table-card {
  background: white;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  overflow: hidden;
  padding: 10px;
}

.management-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.management-table th {
  padding: 15px;
  color: #64748b;
  font-weight: 500;
  border-bottom: 1px solid #f1f5f9;
}

.management-table td {
  padding: 15px;
  color: #1e293b;
  border-bottom: 1px solid #f1f5f9;
}

.email-cell {
  color: #64748b;
}


.status-badge {
  padding: 5px 15px;
  border-radius: 6px;
  font-size: 0.85rem;
  font-weight: 500;
}

.status-badge.active {
  background-color: #dcfce7;
  color: #16a34a;
}

.status-badge.not-active {
  background-color: #f1f5f9;
  color: #64748b;
}


.action-cells {
  display: flex;
  gap: 15px;
}

.action-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.action-btn.edit { color: #1e293b; }
.action-btn.delete { color: #ef4444; }

.action-btn:hover { transform: scale(1.1); }
