body{
  margin: 0;
}
.container{
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form{
  background: white;
  padding: 40px;
  width: 400px;
  border-radius: 10px;
  border: 2px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0,1);
}
label{
  display: flex;
  flex-direction: column;
  gap: 10px;

}
button{
  margin-top: 10px;
  padding: 10px;
  background-color: #0078e5;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
button :hover{
  background-color: darkblue;
}
input{
  padding: 8px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
.page-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: black;
    font-weight: 700;
}
.form-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

